*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: 0 auto;
}

.width-standard{
    width: 55%;
}

ul{
    list-style-type: none;
}

.blue-button-small{
    border: none;
    border-radius: none;
    color: white;
    background-color: #0061ff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.blue-button{
    border: none;
    border-radius: none;
    color: white;
    background-color: #0061ff;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
}

.white-button-small{
    border: 1px solid black;
    border-radius: none;
    background-color: white;
    padding: 0.7rem 1rem;
    font-size: 1rem;
}

.white-button{
    border: none;
    border-radius: none;
    background-color: white;
    padding: 0.8rem 3rem;
    font-size: 1rem;
}

.xs-txt{
    font-size: 0.8rem;
}

.s-txt{
    font-size: 0.9rem;
}

.m-txt{
    font-size: 1.5rem;
    font-weight: 700;
}

.l-txt{
    font-size: 2.3rem;
    font-weight: 700;
}

.xl-txt{
    font-size: 5.0rem;
    font-weight: bolder;
}

.blue-txt{
    color: #0061ff;
}

/* HEADER */

header{
    height: 5rem;
    justify-content: space-between;
}

header,
header div.header-left,
header div.header-right{
    align-items: center;
}

header li{
    padding: 0 1.5rem;
}

header li a{
    text-decoration: none;
}

header button{
    margin-right: 1.5rem;
}

div.logo img{
    width: 100%;
    padding-left: 1rem;
}


/* JUMBOTRON */

section.jumbotron{
    height: 80vh;
    margin-bottom: 17vh;
    background-color: #b4d0e7;
}

section.jumbotron div.container,
section.jumbotron h1{
    width: 65%;
}

section.jumbotron h1{
    padding: 2.5rem 0;
}

section.jumbotron div.container-left{
    width: 30%;
    /* padding: 0 1.5rem; */
}

section.jumbotron div.container-right{
    width: 70%;    
}

section.jumbotron div.container-left p{
    padding-bottom: 2rem;
}

section.jumbotron div.container-left i{
    padding-top: 2rem;
    font-size: 3rem;
}

section.jumbotron div.container-left button{
    margin-bottom: 1.5rem;
}

section.jumbotron img{
    width: 100%;
}

/* BUSINESS TYPE */

section.business-type h2 {
    padding-bottom: 3.5rem;
}

section.business-type div.payment-type span{
    padding-right: 2rem;
}

section.business-type section.business-plans{
    justify-content: space-between;
    margin: 3rem 0;
}

section.business-type section.business-plans div{
    width: 30%;
    border: 1px solid grey;
}

section.business-type section.business-userType{
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 0.5rem 0;
}

section.business-type section.business-info{
    padding: 1.5rem;
}

section.business-type section.business-info h3{
    padding: 0.5rem 0;
}

section.business-type section.business-info button{
    margin-bottom: 1.5rem;
    width: 100%;
}

section.business-type section.business-info p{
    padding-bottom: 0.5rem;
}

section.business-type ul.attribute{
    padding: 2rem 0;
}

section.business-type ul.attribute li{
    padding: 0.5rem 0;
}

section.business-type ul.attribute p{
    padding-right: 0.3rem;
}

section.business-type section.business-info hr{
    width: 20%;
    margin-bottom: 2.5rem;
    margin-top: 1.3rem;
}

section.business-type ul.highlights{
    padding-top: 1.5rem;
}

section.business-type ul.highlights p.custom-list{
    padding-right: 0.3rem;
    color: #0061ff;
}

section.business-type section.prices-request{
    width: 100%;
    height: 15rem ;
}

section.business-type section.prices-request{
    border: 1px solid grey;
}

section.enterprise-info{
    padding: 2rem 1.5rem;
}

section.enterprise-info div.enterprise-left{
    width: 70%;
}

section.enterprise-info div.enterprise-rigth{
    width: 30%;
}

section.enterprise-info div.enterprise-left h3.xs-txt{
    margin: 1rem 0;
}

section.enterprise-info div.enterprise-left p{
    margin-top: 2.5rem;
}

section.enterprise-info div.enterprise-right button{
    margin-left: 3rem;
}

/* FIND PARTNER */

section.find-partner{
    height: 50vh;
    margin-top: 17vh;
}

section.find-partner img{
    height: 100%;
}

section.find-partner div{
    padding: 3rem 2rem;
    padding-right: 5rem;
}

section.find-partner p{
    margin: 1.5rem 0;
}

/* OPERATIONS*/

section.operations{
    padding: 10rem 0;
}

section.operations div.cards-row{
    justify-content: space-between;
}

section.operations div.cards-row div{
    width: calc(100% / 3);
    padding: 0 1rem;
    margin-top: 5rem;
}

section.operations div.cards-row div h3{
    margin-bottom: 2rem;
}

section.operations div.cards img{
    width: 100%;
}

/* MORE ABOUT COMPANIES */

section.more-about-companies{
    margin-bottom: 10rem;
}

section.more-about-companies h2{
    margin-bottom: 3rem;
}

/* COMPANIES */

section.companies div.square-container{
    height: calc(100vw / 3);
}

section.companies div.square-container{
    width: calc(100% / 3);
    flex-wrap: wrap;
}

div.square-container div.square-brand{
    width: 50%;
    height: 50%;
    position: relative;
}

div.square-container div.square-brand img{
    width: 60%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

section.companies div.middle{
    padding: 2rem;
    background-color: #f5f5f5;
}

section.companies div.middle hr{
    width: 20%;
    margin-top: 3rem;
}

section.companies div.middle p{
    padding-top: 3rem;
}

section.companies div.middle img{
    width: 50%;
}

section.companies div.designit{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

section.companies div.asu{
    background-color:#61082b;    
}

section.companies div.uf{
    background-color: #0093ce;
}

section.companies div.topps{
    background-color: #ff1c1c;
}

section.companies div.wbr{
    background-color: #d5001f;
}

section.companies div.hearst{
    background-color: #b4d0e7;
}

section.companies div.lonely-planet{
    background-color: #0d2481;
}

section.companies div.clear-channel{
    background-color: #ffd830;
}

/* FREE TRIAL */

section.free-trial{
    height: 40vh;
    background-color: #b4d0e7;
    align-items: center;
}

section.free-trial div.container{
    justify-content: space-between;
}

section.free-trial div.container h2{
    color: #61082b;
    width: 55%;
}

/* FAQ */

section.faq{
    margin-top: 10rem;
}

section.faq h2{
    padding-bottom: 3.5rem;
    border-bottom: 1px solid rgb(68, 68, 68);
}

section.faq div.question{
    font-weight: 600;
    padding: 2.5rem 0;
    justify-content: space-between;
    border-bottom: 1px solid rgb(68, 68, 68);
}
section.faq i{
    padding-right: 2rem;
}


/* FOOTER */

footer{
    background-color: #000000;
    color: white;
    margin-top: 10rem;
}

footer div.find-more{
    width: 70%;
    padding-top: 5rem;
    justify-content: space-between;
    padding-bottom: 5rem;
}

footer div.find-more h3{
    padding-bottom: 2rem;
}

footer div.find-more li{
    line-height: 2.5rem;
}

footer li a{
    text-decoration: none;
    color: white;
}

footer section.change-language{
    width: 70%;
    color: rgb(168, 168, 168);
}

footer section.change-language>div{
    padding: 3rem 0;
    border-top: 1px solid white;
    width: 10%;
}

footer section.change-language span{
    padding: 0 0.3rem;
}